.page-content{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
    @media only screen and (min-width: 900px) {
        justify-items: flex-start;
        padding-left: 2rem;
    }
    .windows-container{
        width: 90%;
        height: 65%;
        .window-content{
            .about-wrapper{
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @media only screen and (min-width: 900px) {
                    text-align: left;   
                }
                @media only screen and (min-width: 1200px) {
                    padding: 0 2rem;
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
            @media only screen and (min-width: 1200px) {
                display: flex;
                align-items: center;
            }
            .profile-picture{
                margin: 1rem;
                object-fit: cover;
                border-radius: 100%;
                width: 220px !important;
                height: 220px !important;
                -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.9);
                -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.9);
                box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.9);           
            }
            .about{
                padding: 1rem;                     
                max-width: 80ch;
                .title{
                    font-size: 2.25rem;
                    margin-bottom: .5rem;
                }
                .desc{
                    font-size: 1.25rem;
                }
            }
        }
        @media only screen and (min-width: 900px) {
            width: 60%;
            height: 70%;
        }
        @media only screen and (min-width: 1200px) {
            width: 60%;
        }
        @media only screen and (min-width: 1600px) {
            width: 50%;
        }
    }
}