@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}
body{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
.background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.small-button{
    border: 1px solid black;
    padding: .2em 1em;
    font-size: 1.25rem;
    -webkit-box-shadow:  2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:  2px 2px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    &:hover{
        cursor: pointer;
        -webkit-box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.75);
        box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.75);
    }
}

.window-card{
    border-radius: 5px;
    border: solid 3px #CDCDCF;
    -webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    background-color: #E5E5E5;
}
strong{
    text-decoration: underline;
}

.header{
    color: #fff;
    display: grid;
    place-items: center;
    height: 33px;
    background: rgb(225,128,246);
    margin-left: 3px;
    margin-top: 3px;
    background: linear-gradient(280deg, rgba(225,128,246,1) 0%, rgba(91,219,255,1) 100%);
    position: relative;
    border-radius: 5px 5px 0 0;
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 25%;
        height: 2px;
        background-color: #E9F3F9;
    }
    &::after{
        left: 1rem;
    }
    &::before{
        right: 1rem;
    }
}

.page-content{
    background-size: cover;
    background-repeat: no-repeat;
    isolation: isolate;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    .desktop{
        display: none;
    }
    @media only screen and (min-width: 900px) {
        height: 100vh;
        .mobile{
            display: none;
        }
        .desktop{
            display: block;
        }
    }
}