html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}
.background-video{
    position: fixed;
}
.page-content{
    width: 200vw;
    background-size: cover;
    background-position: top -50px left 0px;
    background-image: url('../assets/portfolio-background.png');
}

.projects-card{
    transform: scale(.8);
    z-index: 100000;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    border: solid 3px #CDCDCF;
    -webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 160px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .content{
        padding: 1rem;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        .buttons{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
        .message{
            font-size: 1.75rem;
            margin-bottom: 15px;
        }
        &:hover{
            .view-button{
                cursor: pointer;
                transform: scale(1);
            }
        }
    }
}
.card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin-bottom: .75rem;
        .icon{
            width: 20px;
            height: 20px;
            margin-right: 1rem;
        }
    }
    .description{
        hyphens: auto;
        font-size: 1.25rem;
    }
}

.column{
    display: flex;
    flex-direction: column;
    transform: translateY(10%);
}

.project-intro-card{
    margin-left: 2rem;
    width: 400px;
    .screenshot{
        padding-top: 5px;
        width: calc(100% - 10px);
    }
    .description{
        font-size: 1.25rem;
        margin: 10px 0;
        background-image: url('../assets/tab_background.png');
        padding: 10px;
        width: calc(100% - 10px);
        text-align: left;
        -webkit-box-shadow:inset 2px 2px 0px 0px rgba(0,0,0,0.75), 1px 1px grey;
        -moz-box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.75), 1px 1px grey;
        box-shadow:inset 2px 2px 0px 0px rgba(0,0,0,0.75), 1px 1px grey;
    }
}

.project-roles{
    width: 290px;
    transform: translate(-40%,-60%);
    .card-content{
        padding: 1rem;
    }
}

.project-info {
    transform: translate(-10%,70%);
    width: 400px;
    .card-content{
        padding: 1rem;
    }
}

.project-actions{
    transform: translate(60%,-150%);
    height: 176px;
    width: 400px;
    .card-content{
        padding: 1rem;
    }
    .buttons{
        margin-top: 1rem;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}


.project-seperator{
    width: 450px;
}
.start-menu{
    .icon{
        width: 20px;
        height: 20px;
        align-self: center;
        margin-right: 5px;
    }
    display: flex !important;
}