.page-content{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
    @media only screen and (min-width: 1200px) {
        justify-items: flex-start;
        padding-left: 2rem;
    }
    .windows-container{
        width: 90%;
        height: 65%;
        @media only screen and (min-width: 900px) {
            width: 60%;
            height: 80%;
        }
        @media only screen and (min-width: 1200px) {
            width: 70%;
        }
        @media only screen and (min-width: 1800px) {
            height: 80%;
        }
    }
}
