html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-video {
  position: fixed;
  -webkit-animation: backgroundFade ease-in 1s;
          animation: backgroundFade ease-in 1s;
}

@-webkit-keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filler {
  width: 200vw;
}

.page-background {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-position: top -50px left 0px;
  background-image: url("../assets/content_background.png");
  -webkit-transform: translateZ(-999px);
  transform: translateZ(-999px);
}

.page-background .desktop {
  display: none;
}

@media only screen and (min-width: 900px) {
  .page-background {
    height: 100vh;
  }
  .page-background .mobile {
    display: none;
  }
  .page-background .desktop {
    display: block;
  }
}

.page-content {
  margin-left: 10rem;
  width: 200vw;
  -webkit-transform: translateZ(999px) scale(0.9);
  transform: translateZ(999px) scale(0.9);
  z-index: 3;
}

@-webkit-keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%) scale(0.8);
            transform: translateX(-200%) scale(0.8);
  }
  to {
    -webkit-transform: translateX(0) scale(0.8);
            transform: translateX(0) scale(0.8);
  }
}

@keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%) scale(0.8);
            transform: translateX(-200%) scale(0.8);
  }
  to {
    -webkit-transform: translateX(0) scale(0.8);
            transform: translateX(0) scale(0.8);
  }
}

.projects-card {
  -webkit-animation: cardEntrance ease-out 1s;
          animation: cardEntrance ease-out 1s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 100000;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 160px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.projects-card .content {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.projects-card .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects-card .content .message {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.projects-card .content:hover .view-button {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-bottom: .75rem;
}

.card-content .title .icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.card-content .description {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 1.25rem;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.project-intro-card {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin-left: 2rem;
  width: 400px;
}

.project-intro-card .screenshot {
  padding-top: 5px;
  width: calc(100% - 10px);
}

.project-intro-card .description {
  font-size: 1.25rem;
  margin: 10px 0;
  background-image: url("../assets/tab_background.png");
  padding: 10px;
  width: calc(100% - 10px);
  text-align: left;
  -webkit-box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.75), 1px 1px grey;
  box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.75), 1px 1px grey;
}

.project-roles {
  width: 290px;
  -webkit-transform: translate(-40%, -60%) scale(0.85);
          transform: translate(-40%, -60%) scale(0.85);
}

.project-roles .card-content {
  padding: 1rem;
}

.project-info {
  -webkit-transform: translate(-10%, 70%) scale(0.9);
          transform: translate(-10%, 70%) scale(0.9);
  width: 400px;
}

.project-info .card-content {
  padding: 1rem;
}

.project-actions {
  -webkit-transform: translate(60%, -150%);
          transform: translate(60%, -150%);
  height: 176px;
  width: 400px;
}

.project-actions .card-content {
  padding: 1rem;
}

.project-actions .buttons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project-seperator {
  width: 350px;
}

@media only screen and (min-width: 1600px) {
  .project-seperator {
    width: 450px;
  }
}

.start-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: menuUp ease-out .5s backwards .25s;
          animation: menuUp ease-out .5s backwards .25s;
}

.start-menu .icon {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.page-content:nth-child(1) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 2;
          animation-delay: 2;
}

.page-content:nth-child(2) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 4;
          animation-delay: 4;
}

.page-content:nth-child(3) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 6;
          animation-delay: 6;
}

.page-content:nth-child(4) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 8;
          animation-delay: 8;
}

.page-content:nth-child(5) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 10;
          animation-delay: 10;
}

.page-content:nth-child(6) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 12;
          animation-delay: 12;
}

.page-content:nth-child(7) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 14;
          animation-delay: 14;
}

.page-content:nth-child(8) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 16;
          animation-delay: 16;
}

.page-content:nth-child(9) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 18;
          animation-delay: 18;
}

.page-content:nth-child(10) {
  -webkit-animation: expand ease-out 1s backwards;
          animation: expand ease-out 1s backwards;
  -webkit-animation-delay: 20;
          animation-delay: 20;
}

@-webkit-keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=portfolio.css.map */