@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;800&display=swap');

:root{
    --text-color: #000;
    --primary: #BFBFBF;
    --secondary: #71C1C1;
    --accent: #000080;
    --container: #F1F1F1;
    --stagger-delay: 250ms;
}

*,*::before,*::after{
    transition: all .25s ease-in;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Karla',sans-serif;
}

body{
    margin-bottom: 120px;
    background: var(--secondary);
    animation: bodyEnterance 1000ms ease-in;
    animation-fill-mode: backwards;
}

@keyframes bodyEnterance {
    from {
        background: #000;
    }
    to {
        background: var(--secondary);
    }
}

h1{
    font-size: 1.25em;
    font-weight: 500;
}

.bold{
    font-weight: 800;
}

h2{
    font-size: 1em;
    font-weight: 500;
}

img{
    width: 100%;
    height: 100%;
}

.drop-shadow{
    -webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,1);
    --border-radius: 10px;
}

.resume-svg{
    position: relative;
}

.resume-svg::after{
    content: "Resume";
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
}

.mobile-bar{
    animation: mobileEnterance 800ms ease-out;
    animation-fill-mode: backwards;
    animation-delay: calc(3.5 * var(--stagger-delay));

    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
    background-color: var(--primary);
    bottom: 0;
}

.mobile-flex{
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-active{
    background-color: var(--accent);
}
.mobile-flex h1{
    font-size: 1rem;
}
.mobile-active h1,
.mobile-active #portfolio{
    fill: #fff;
    color: #fff;
}

@keyframes mobileEnterance {
    from {
      opacity: 0;
      transform: translateY(100%);
      filter: blur(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
}

@media only screen and (min-width: 450px) {
    .mobile-flex{
        padding: 0 1rem;
    }
}

.sidebar{
    display: none;
    background-color: var(--primary);
    width: 300px;
    text-align: center;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 1px 1px 3px var(--text-color);
    overflow-y: visible;
}

.side-contant{
    padding: 100px 50px;
}

.side-contant .description{
    margin-top: 1.5em;
}

.side-nav{
    margin-top: 80px;
    text-align: right;
}

.side-nav li{
    list-style-type: none;
    margin-bottom: 1em;
    display: block;
    position: relative;
}


li a{
    color: var(--text-color);
    text-decoration: none;
}

li::after{
    content: '      ';
    transform: scaleY(1);
    transform: scale(0);
}

.nav-active::after,
li:hover::after,
li:focus::after{
    content: '';
    background-color: var(--accent);
    transform: scaleY(100%);
    transform: scale(1);
    width: 10px;
    right: -60px;
    height: 25px;
    position: absolute;
}

li::before{
    content: '      ';
    transform: scaleY(0);
}

.nav-active::before,
li:hover::before,
li:focus::before{
    content: '';
    background-color: var(--accent);
    width: calc(100% + 90px);
    transform: scaleY(100%);
    right: -40px;
    transform: scale(1);
    height: 25px;
    position: absolute;
    z-index: -1; 
}

.nav-active a,
li:hover a{
    color: #fff;
}

.page{
    width: auto;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    padding: 30px;
    border-radius: var(--border-radius);
    background-color: var(--container);
    margin-top: 30px;
    width: 90%;
    overflow: hidden;
    max-height: 300px;
}

.portfolio-grid{
    width: 100%;
    display: grid;
    place-items: center;
    grid-column-gap: 30px;
}

@media only screen and (min-width: 330px) {
    .portfolio-grid{
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-column-gap: 30px;
    }
}

.page-header{
    height: 84px;
    display: flex;
    align-items: center;
}

.title-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.5;
}

.box-menu:hover{
    cursor: help;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 175px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    transition-delay: .15s;
    /* Position the tooltip */
    position: absolute;
    left: 0;
    bottom: -250%;
    z-index: 1;
}

.box-menu:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* DESKTOP ITEM */
.desktop-item{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-item h2{
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}
.desktop-item:hover{
    cursor: pointer;
}
/* FOLDER ANIMATION */

svg{
    overflow: visible;
}

#folder-front{
    transition: all 0.5s ease !important;
}

.desktop-item:hover #folder-front{
    transform: translateY(5%);
}

#file{
    transition: all 0.5s ease !important;
}

.desktop-item:hover #file{ 
    transform: translateY(-15%);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    margin: auto;
    width: 80%;
    background-color: var(--primary);
}
.modal-menu h1{
    font-weight: bold;
}
.modal-content {
    padding: 1rem;
    animation: modalEnterance 250ms ease-in;
    animation-fill-mode: backwards;

    background-color: #fefefe;
    margin: auto;
    width: 80%;
}

/* The Close Button */
.close {
    color: red;
    font-size: 2.5rem;
    font-weight: 100;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalEnterance {
    from {
      opacity: 0;
      filter: blur(100%);
    }
    to {
    opacity: 1;
      filter: blur(0);
    }
}

.desktop-item{
    animation: iconLoad 500ms ease-out;
    animation-fill-mode: backwards;
}

.desktop-item:nth-child(1) {
    animation-delay: calc(1 * var(--stagger-delay));
}


.desktop-item:nth-child(2) {
    animation-delay: calc(2 * var(--stagger-delay));
}

.desktop-item:nth-child(3) {
    animation-delay: calc(3 * var(--stagger-delay));
}

@keyframes iconLoad {
    from {
      opacity: 0;
      transform: scale(0.1);
      filter: blur(100%);
    }
    to {
      opacity: 1;
      transform: scale(100%);
      filter: blur(0);
    }
}

@media only screen and (min-width: 900px) {
    .mobile-bar{
        display: none;
    }

    .sidebar{
        display: block;
        animation: sidebarEnterence 800ms ease-out;
        animation-fill-mode: backwards;
    }

    @keyframes sidebarEnterence {
        from {
          opacity: 0;
          transform: translateX(-200%);
          filter: blur(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
          filter: blur(0);
        }
    }

    .main{
        display: block;
        padding-left: 60px;
        position: relative;
        width: calc(99vw - 300px);
        margin: 70px auto 50px 300px;
    }

    .page{
        all: unset;
    }
    .box{
        overflow: visible;
    }
    .page-header{
        max-width: 400px;
        animation: headerEnternce 800ms ease-out;
        animation-fill-mode: backwards;
        animation-delay: calc(2* var(--stagger-delay));
    }

    @keyframes headerEnternce {
        from {
          opacity: 0;
          transform: translateY(-200%);
          filter: blur(100%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
          filter: blur(0);
        }
    }

    .portfolio-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-column-gap: 30px;
    }

}
