@import 'components/window';

.content{
    padding: 1rem 1.5rem 2rem;
    @media only screen and (min-width: 900px) {
        padding: 3rem 1.5rem 2rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.html-music{
    opacity: 0;
    position: absolute;
}
@keyframes musicEnter {
    from{
        transform: scale(0) rotate(360deg);
    }to{
        transform: scale(1) rotate(0deg);
    }
}
.music-player{
    button{
        cursor: pointer;
    }
    opacity: 0;
    @media only screen and (min-height: 600px) {
        opacity: 1;
    }
    animation: musicEnter ease-out 1s backwards 1s;
    z-index: 100000;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 205px;

    .song-name{
        margin: 5px 0;
        text-align: center;
        a{
            color: #000;
        }
    }
    .player{
        .icon{
            width: 30px !important;
            height: 30px !important;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    border-radius: 5px;
    border: solid 3px #CDCDCF;
    -webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75); 
    background-color: #E5E5E5;
    display: flex;
    .content{
        padding: 0rem;
    }
    flex-direction: column;
    .album{
        width: 0;
        visibility: hidden;
        opacity: 0;
    }
    @media only screen and (min-width: 900px) {
        .album{
            padding: 5px;
            width: 200px;
            visibility: visible;
            opacity: 1;
        }
    }
}
.background-video{

    animation: backgroundFade ease-in 1s
}

@keyframes backgroundFade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

button{
    all: unset;
}

.cube{
    position: absolute;
    z-index: 1000;
    bottom: 60px;
    width: 125px;
    right: 25px;
    animation: cubeGrow ease-out .7s backwards;
    animation-delay: 1.5s;
    @media only screen and (min-width: 900px) {
        right: unset;
        width: 200px;
        left: 225px;
    }
    @media only screen and (min-width: 1600px) {
        right: unset;
        width: 225px;
        left: 300px;
    }
    
}

@keyframes cubeGrow {
    from{
        transform: scale(0) rotate(360deg);
    }
    to{
        transform: scale(1) rotate(0deg);
    }
}

svg{
    width: 50px;
    height: 50px;
}

.icon{
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 5px;
}

.start-menu{
    animation: menuUp ease-out .5s backwards .5s;
}

@keyframes menuUp {
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes backgroundFall {
    from{
        background-position: 1530% 1530%;
    }
    60%{
        background-position: 0% 0%;
    }
    75%{
        background-position: 130% 130%;
    }
    85%{
        background-position: 0% 0%;
    }
    90%{
        background-position: 60% 60%;
    }
    to{
        background-position: 30% 30%;
    }
}

.page-content{
    background-position: top -50px left 0px;
    background-image: url('../assets/content_background.png');
    animation: backgroundFall linear .7s forwards;
    @media only screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: 400px 45%;
    }
    @media only screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 500px 50%;
    }
}

@keyframes cardEntrance {
    from{
        transform: translateX(-200%) ;
    }
    to{
        transform: translateX(0) ;
    }
}


.profile-details{
    .profile-name{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .profile-job{
        font-size: 1.25rem;
    }
    .profile-desc{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .location{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        img{
            height: 20px;
            margin-right: .25rem;
        }
        font-size: 1.2rem;
    }
    .social-media{
        display: flex;
        width: 100%;   
    }
    .windows-button{
        width: auto;
        font-size: 1.25rem;
        padding: .25rem 2rem;
        height: 24px;
        background: linear-gradient(280deg, rgba(225,128,246,1) 0%, rgba(91,219,255,1) 100%);;
    } 
}
.social{
    transform: scale(.6);
    margin-right: 0rem;
 }
 .tabs{
    margin-top: -70px;
    margin-left: -50px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    @media only screen and (min-width: 1200px) {
        font-size: 2rem;
    }
    text-shadow: 2px 2px 0px rgba(0,0,0,0.45);
}
.tab{
    margin-right: 1rem;
    opacity: .6;
    text-decoration: none;
    color: #171717;
    &.active{
        color: rgba(225,128,246,1);
        opacity: 1;
    } 
} 


.tabs{
    animation: cardGrow ease-out 1s backwards 1s;
}


.wrapper{
    animation: wrapperEnterenace ease-out 1s backwards 1.5s;
    transform: translateX(0%);
}
.wrapper2{
    animation: wrapperEnterenace2 ease-out 1s backwards 1.5s;
    transform: translateX(5%);
}

@keyframes wrapperEnterenace {
    from{
        transform: translateX(-200%);
    }
}
@keyframes wrapperEnterenace2 {
    from{
        transform: translateX(200%);
    }
}

.port-card{
    place-self: center;  
    border-radius: 5px;
    border: solid 3px #CDCDCF;
    -webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    width: 310px;
    height: 245px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .content{
        padding: 0;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        .view-button{
            transition: transform .2s ease;
            opacity: .5;
            transform: scale(.7);
            background-color: #CDCDCF;
        }
        .details{
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .screenshot{
            padding: 7px;
            transition: transform .5s ease;
            height: 165px;
            z-index: 0;
        }
        .buttons{
            padding: 0px 10px 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .project-button{
                margin-left: 1.5rem;
            }
        }
    }
}

@keyframes cardGrow{
    from{
        transform: scale(0) rotate(360deg);
    }
    to{
        transform: scale(1) rotate(0deg);
    }
}

@keyframes moreGrow {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1) translateY(-50%);    
    }
}

@media only screen and (min-width: 1900px){
    @keyframes moreGrow {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1) translate(-10%,-50%);
        }
    }
}

.more-card{
    animation: moreGrow cubic-bezier(0.74,-0.04, 0.58, 2.0) 1s backwards 2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (min-width: 1900px){
        transform: translate(-10%,-50%);
    }
    z-index: 100;
    border-radius: 5px;
    border: solid 3px #CDCDCF;
    -webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), 3px 3px 0px 0px rgba(0,0,0,0.75);
    width: 300px;
    height: 160px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .content{
        padding: 1rem;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: flex-start;
        .buttons{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
        .message{
            font-size: 1.75rem;
            margin-bottom: 15px;
        }
        &:hover{
            .view-button{
                cursor: pointer;
                transform: scale(1);
            }
        }
    }
}