.windows-container {
  position: relative;
  height: 550px;
  background-color: #c6c6c6;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  overflow-y: hidden;
}

.windows-container .windows-button {
  width: 16px;
  height: 16px;
  color: #000;
  background-color: silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.windows-container .windows-button:hover {
  cursor: pointer;
}

.windows-container .windows-button:active {
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;
}

.windows-container .header {
  padding: 0 .5rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background: #e180f6;
  background: linear-gradient(280deg, #e180f6 0%, #5bdbff 100%);
  position: relative;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 2px solid silver;
  border-bottom: 1px solid silver;
}

.windows-container .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.windows-container .header .windows-button {
  margin-left: 5px;
}

.windows-container .address-bar {
  margin: 0 .25rem;
  padding-right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #949494;
}

.windows-container .address-bar .address {
  padding: .25rem .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows-container .address-bar .address .seperator {
  background-color: #f0f0f0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  color: #f0f0f0;
  width: 2px;
  border-radius: 2px;
  margin-right: .5rem;
  height: 100%;
}

.windows-container .address-bar .search-bar {
  border-top: 2px solid #2c2c2c;
  border-left: 2px solid #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows-container .address-bar .search-bar img {
  margin: 0 .3rem;
  height: 16PX;
}

.windows-container .address-bar .actions {
  border-top: 2px solid #2c2c2c;
}

.windows-container .address-bar .actions .windows-button {
  height: 24px;
  border-right: 2px solid #2c2c2c;
  border-bottom: 2px solid #2c2c2c;
}

.windows-container .address-bar .actions .windows-button:active {
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
}

.windows-container .window {
  height: calc(100% - 88px);
}

.windows-container .window-wrapper {
  position: relative;
  height: 100%;
  padding: 10px .25rem 0 .25rem;
  border-left: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  position: relative;
}

.windows-container .window-wrapper .banner {
  z-index: 100;
  padding: 1rem;
  border-bottom: 2px solid #2c2c2c;
  background: linear-gradient(280deg, #e180f6 0%, #5bdbff 100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows-container .window-wrapper .banner .more {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.windows-container .window-wrapper .banner .windows-button {
  padding: 1rem 2rem;
  width: auto;
}

.windows-container .window-wrapper .wrapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows-container .window-wrapper .quick-link {
  margin-right: 2rem;
  text-decoration: underline;
}

.windows-container .window-wrapper .window-content {
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-top: 2px solid #2c2c2c;
  border-left: 2px solid #2c2c2c;
  height: 100%;
  background: #e1f4ff;
}

.windows-container .window-wrapper .window-content .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.windows-container .window-wrapper .window-content .portfolio .section-title {
  margin-bottom: 1rem;
}

.windows-container .window-wrapper .window-content .portfolio .port-project {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .windows-container .window-wrapper .window-content .portfolio .port-project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .windows-container .window-wrapper .window-content .portfolio .port-project .details {
    max-width: 60ch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.windows-container .window-wrapper .window-content .portfolio .port-project a {
  text-decoration: underline;
  color: purple;
  font-size: 1.5rem;
}

.windows-container .window-wrapper .window-content .portfolio .port-project .tag-line {
  margin-bottom: 1rem;
}

.windows-container .window-wrapper .window-content .portfolio .port-project .tag-line .title {
  font-size: 3rem;
}

.windows-container .window-wrapper .window-content .portfolio .port-project .tag-line .project-type {
  font-size: 1.5rem;
  opacity: .75;
}

.windows-container .window-wrapper .window-content .portfolio .port-project .desc {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.windows-container .window-wrapper .window-content .portfolio .port-project img {
  width: 100%;
}

.windows-container .window-wrapper .window-content .portfolio-page {
  padding: 2rem 1rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  place-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 1350px) {
  .windows-container .window-wrapper .window-content .portfolio-page {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item {
  border-radius: 8px;
  border-top: 2px solid #dfdfdf;
  border-left: 2px solid #dfdfdf;
  border-right: 2px solid #7f7f7f;
  border-bottom: 2px solid #7f7f7f;
  background-color: darkgray;
  width: 80%;
}

@media only screen and (min-width: 1350px) {
  .windows-container .window-wrapper .window-content .portfolio-page .portfolio-item {
    width: 100%;
  }
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item .project-desc {
  font-size: 1.25rem;
  padding: .25rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item .project-image {
  position: relative;
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item .project-name {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 0 0 8px 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 128, 246, 0)), to(#5bdbff));
  background: linear-gradient(180deg, rgba(225, 128, 246, 0) 0%, #5bdbff 100%);
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item:hover {
  cursor: pointer;
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item:hover .project-name {
  opacity: 1;
}

.windows-container .window-wrapper .window-content .portfolio-page .portfolio-item .project-screenshot {
  border-radius: 8px 8px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16 / 9;
}

.windows-container .more-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: .25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25px;
  background: #b8b8b8;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;
}

.windows-container .more-information .loading-icon {
  width: 15px;
  margin-right: .25rem;
}

.windows-container.music-player {
  height: 100px;
}

.windows-container.profile-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.windows-container.profile-window .header {
  width: 100%;
}

.windows-container.profile-window .location {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.windows-container.profile-window .resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 900px) {
  .windows-container.profile-window {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 80%;
  }
  .windows-container.profile-window .location {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .windows-container.profile-window .resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.content {
  padding: 1rem 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media only screen and (min-width: 900px) {
  .content {
    padding: 3rem 1.5rem 2rem;
  }
}

.html-music {
  opacity: 0;
  position: absolute;
}

@-webkit-keyframes musicEnter {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes musicEnter {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

.music-player {
  opacity: 0;
  -webkit-animation: musicEnter ease-out 1s backwards 1s;
          animation: musicEnter ease-out 1s backwards 1s;
  z-index: 100000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 205px;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music-player button {
  cursor: pointer;
}

@media only screen and (min-height: 600px) {
  .music-player {
    opacity: 1;
  }
}

.music-player .song-name {
  margin: 5px 0;
  text-align: center;
}

.music-player .song-name a {
  color: #000;
}

.music-player .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .player .icon {
  width: 30px !important;
  height: 30px !important;
}

.music-player .content {
  padding: 0rem;
}

.music-player .album {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (min-width: 900px) {
  .music-player .album {
    padding: 5px;
    width: 200px;
    visibility: visible;
    opacity: 1;
  }
}

.background-video {
  -webkit-animation: backgroundFade ease-in 1s;
          animation: backgroundFade ease-in 1s;
}

@-webkit-keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  all: unset;
}

.cube {
  position: absolute;
  z-index: 1000;
  bottom: 60px;
  width: 125px;
  right: 25px;
  -webkit-animation: cubeGrow ease-out .7s backwards;
          animation: cubeGrow ease-out .7s backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media only screen and (min-width: 900px) {
  .cube {
    right: unset;
    width: 200px;
    left: 225px;
  }
}

@media only screen and (min-width: 1600px) {
  .cube {
    right: unset;
    width: 225px;
    left: 300px;
  }
}

@-webkit-keyframes cubeGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes cubeGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

svg {
  width: 50px;
  height: 50px;
}

.icon {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.start-menu {
  -webkit-animation: menuUp ease-out .5s backwards .5s;
          animation: menuUp ease-out .5s backwards .5s;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes backgroundFall {
  from {
    background-position: 1530% 1530%;
  }
  60% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 130% 130%;
  }
  85% {
    background-position: 0% 0%;
  }
  90% {
    background-position: 60% 60%;
  }
  to {
    background-position: 30% 30%;
  }
}

@keyframes backgroundFall {
  from {
    background-position: 1530% 1530%;
  }
  60% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 130% 130%;
  }
  85% {
    background-position: 0% 0%;
  }
  90% {
    background-position: 60% 60%;
  }
  to {
    background-position: 30% 30%;
  }
}

.page-content {
  background-position: top -50px left 0px;
  background-image: url("../assets/content_background.png");
  -webkit-animation: backgroundFall linear .7s forwards;
          animation: backgroundFall linear .7s forwards;
}

@media only screen and (min-width: 900px) {
  .page-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 45%;
        grid-template-columns: 400px 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .page-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 50%;
        grid-template-columns: 500px 50%;
  }
}

@-webkit-keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.profile-details .profile-name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.profile-details .profile-job {
  font-size: 1.25rem;
}

.profile-details .profile-desc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.profile-details .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.profile-details .location img {
  height: 20px;
  margin-right: .25rem;
}

.profile-details .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.profile-details .windows-button {
  width: auto;
  font-size: 1.25rem;
  padding: .25rem 2rem;
  height: 24px;
  background: linear-gradient(280deg, #e180f6 0%, #5bdbff 100%);
}

.social {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  margin-right: 0rem;
}

.tabs {
  margin-top: -70px;
  margin-left: -50px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.45);
}

@media only screen and (min-width: 1200px) {
  .tabs {
    font-size: 2rem;
  }
}

.tab {
  margin-right: 1rem;
  opacity: .6;
  text-decoration: none;
  color: #171717;
}

.tab.active {
  color: #e180f6;
  opacity: 1;
}

.tabs {
  -webkit-animation: cardGrow ease-out 1s backwards 1s;
          animation: cardGrow ease-out 1s backwards 1s;
}

.wrapper {
  -webkit-animation: wrapperEnterenace ease-out 1s backwards 1.5s;
          animation: wrapperEnterenace ease-out 1s backwards 1.5s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper2 {
  -webkit-animation: wrapperEnterenace2 ease-out 1s backwards 1.5s;
          animation: wrapperEnterenace2 ease-out 1s backwards 1.5s;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

@-webkit-keyframes wrapperEnterenace {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes wrapperEnterenace {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes wrapperEnterenace2 {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes wrapperEnterenace2 {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

.port-card {
  place-self: center;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  width: 310px;
  height: 245px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.port-card .content {
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.port-card .content .view-button {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  opacity: .5;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background-color: #CDCDCF;
}

.port-card .content .details {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port-card .content .screenshot {
  padding: 7px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  height: 165px;
  z-index: 0;
}

.port-card .content .buttons {
  padding: 0px 10px 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.port-card .content .buttons .project-button {
  margin-left: 1.5rem;
}

@-webkit-keyframes cardGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes cardGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes moreGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@keyframes moreGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@media only screen and (min-width: 1900px) {
  @-webkit-keyframes moreGrow {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1) translate(-10%, -50%);
              transform: scale(1) translate(-10%, -50%);
    }
  }
  @keyframes moreGrow {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1) translate(-10%, -50%);
              transform: scale(1) translate(-10%, -50%);
    }
  }
}

.more-card {
  -webkit-animation: moreGrow cubic-bezier(0.74, -0.04, 0.58, 2) 1s backwards 2s;
          animation: moreGrow cubic-bezier(0.74, -0.04, 0.58, 2) 1s backwards 2s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 160px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1900px) {
  .more-card {
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
}

.more-card .content {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.more-card .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.more-card .content .message {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.more-card .content:hover .view-button {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */