#job {
  text-decoration: underline;
  color: purple;
}

.content {
  padding: 1rem 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media only screen and (min-width: 900px) {
  .content {
    padding: 3rem 1.5rem 2rem;
  }
}

.html-music {
  opacity: 0;
  position: absolute;
}

@-webkit-keyframes musicEnter {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes musicEnter {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

.music-player {
  opacity: 0;
  -webkit-animation: musicEnter ease-out 1s backwards 1s;
          animation: musicEnter ease-out 1s backwards 1s;
  z-index: 100000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 205px;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music-player button {
  cursor: pointer;
}

@media only screen and (min-height: 600px) {
  .music-player {
    opacity: 1;
  }
}

.music-player .song-name {
  margin: 5px 0;
  text-align: center;
}

.music-player .song-name a {
  color: #000;
}

.music-player .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .player .icon {
  width: 30px !important;
  height: 30px !important;
}

.music-player .content {
  padding: 0rem;
}

.music-player .album {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (min-width: 900px) {
  .music-player .album {
    padding: 5px;
    width: 200px;
    visibility: visible;
    opacity: 1;
  }
}

.background-video {
  -webkit-animation: backgroundFade ease-in 1s;
          animation: backgroundFade ease-in 1s;
}

@-webkit-keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  all: unset;
}

.cube {
  position: absolute;
  z-index: 1000;
  bottom: 60px;
  width: 125px;
  right: 25px;
  -webkit-animation: cubeGrow ease-out .7s backwards;
          animation: cubeGrow ease-out .7s backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media only screen and (min-width: 900px) {
  .cube {
    right: unset;
    width: 200px;
    left: 225px;
  }
}

@media only screen and (min-width: 1600px) {
  .cube {
    right: unset;
    width: 225px;
    left: 300px;
  }
}

@-webkit-keyframes cubeGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes cubeGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

svg {
  width: 50px;
  height: 50px;
}

.windows-button {
  border-radius: 5px;
  padding: .5em 2.5em;
  font-size: 1.5rem;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
}

.windows-button:focus, .windows-button:hover {
  border: solid 2px #171717;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.start-menu {
  -webkit-animation: menuUp ease-out .5s backwards .5s;
          animation: menuUp ease-out .5s backwards .5s;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes backgroundFall {
  from {
    background-position: 1530% 1530%;
  }
  60% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 130% 130%;
  }
  85% {
    background-position: 0% 0%;
  }
  90% {
    background-position: 60% 60%;
  }
  to {
    background-position: 30% 30%;
  }
}

@keyframes backgroundFall {
  from {
    background-position: 1530% 1530%;
  }
  60% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 130% 130%;
  }
  85% {
    background-position: 0% 0%;
  }
  90% {
    background-position: 60% 60%;
  }
  to {
    background-position: 30% 30%;
  }
}

.page-content {
  background-position: top -50px left 0px;
  background-image: url("../assets/content_background.png");
  -webkit-animation: backgroundFall linear .7s forwards;
          animation: backgroundFall linear .7s forwards;
}

@media only screen and (min-width: 900px) {
  .page-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
}

.profile-card {
  place-self: center;
  z-index: 10000000000;
  width: 380px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: cardEntrance ease-out 1s backwards 1s;
          animation: cardEntrance ease-out 1s backwards 1s;
}

@-webkit-keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cardEntrance {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.profile-details .profile-name {
  font-size: 2.5rem;
  margin-bottom: .25rem;
}

.profile-details .profile-job {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.profile-details .profile-desc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.profile-details .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.social {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 1rem;
}

.tabs {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.45);
}

.tab {
  margin-right: 1rem;
  opacity: .6;
  text-decoration: none;
  color: #171717;
}

.tab.active {
  color: #e180f6;
  opacity: 1;
}

.tabs {
  -webkit-animation: cardGrow ease-out 1s backwards 1s;
          animation: cardGrow ease-out 1s backwards 1s;
}

.wrapper {
  -webkit-animation: wrapperEnterenace ease-out 1s backwards 1.5s;
          animation: wrapperEnterenace ease-out 1s backwards 1.5s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.wrapper2 {
  -webkit-animation: wrapperEnterenace2 ease-out 1s backwards 1.5s;
          animation: wrapperEnterenace2 ease-out 1s backwards 1.5s;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

@-webkit-keyframes wrapperEnterenace {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes wrapperEnterenace {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes wrapperEnterenace2 {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes wrapperEnterenace2 {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

.port-card {
  place-self: center;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  width: 310px;
  height: 245px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.port-card .content {
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.port-card .content .view-button {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  opacity: .5;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background-color: #CDCDCF;
}

.port-card .content .details {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port-card .content .screenshot {
  padding: 7px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  height: 165px;
  z-index: 0;
}

.port-card .content .buttons {
  padding: 0px 10px 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.port-card .content .buttons .project-button {
  margin-left: 1.5rem;
}

@-webkit-keyframes cardGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes cardGrow {
  from {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes moreGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@keyframes moreGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@media only screen and (min-width: 1900px) {
  @-webkit-keyframes moreGrow {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1) translate(-10%, -50%);
              transform: scale(1) translate(-10%, -50%);
    }
  }
  @keyframes moreGrow {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      -webkit-transform: scale(1) translate(-10%, -50%);
              transform: scale(1) translate(-10%, -50%);
    }
  }
}

.more-card {
  -webkit-animation: moreGrow cubic-bezier(0.74, -0.04, 0.58, 2) 1s backwards 2s;
          animation: moreGrow cubic-bezier(0.74, -0.04, 0.58, 2) 1s backwards 2s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  border-radius: 5px;
  border: solid 3px #CDCDCF;
  -webkit-box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 0px 0px white, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 160px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1900px) {
  .more-card {
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
}

.more-card .content {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.more-card .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.more-card .content .message {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.more-card .content:hover .view-button {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */